body {
    background-image: url('images.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body.no-background {
    background-image: none !important;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f4f4f4;
}
.summary, .cumulative {
    margin-top: 20px;
}
.login-form, .semester-year-selection, .result, .instructor-dashboard {
    margin: 20px;
}
.instructor-dashboard {
    display: none;
}
#loading {
    display: none;
}

